Tracker and IPR disclosure

Hi Tim,
At 02:31 AM 07-07-2018, Tim Wicinski wrote:
>There were initial concerns that the IPR was unclear, and never 
>fully settled.
>All the guidance I received was that the issue would be addressed
>
>https://datatracker.ietf.org/ipr/2909/
>
>Yes, it is old, but it was the only reference I could dig up.

Thank you for the URL.  The Tracker does not list the IPR disclosure 
for the WG draft.  I suggest looking at Section 3.3 of RFC 6702 [1].

Regards,
S. Moonesamy

1. It is Informational 