Wording in 3.9 on RFC7049 reference

> Adherence to the second two rules given in Section 3.9 of [RFC7049

Isn't it clearer to say "the last two rules"? "The second two rules"
(meaning the third and the fourth) confused me.

https://mailarchive.ietf.org/arch/msg/dnsop/135GVWonU_TEmZPumzfBuOf_oWk